@import '@/styles/sass/grid.scss';

.title {
  font-size: 30px;
  text-align: center;
  span {
    color: var(--ui-color-one);
  }
}

.playlists {
  &__list {
    display: flex;
    justify-content: end;
    margin-top: 5px;
  }

  &__item {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background: var(--black-30);
    border: 1px dashed var(--gray-50);
    cursor: pointer;
    &:hover {
      background: var(--ui-color-one);
      transition: all 0.8s;
      opacity: 1;
    }
  }
  &__descr {
    padding: 2px 0;
  }
}

.img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

@include mq(tablet) {
  .img {
    width: 130px;
    height: 130px;
  }
}

@include mq(Lphone) {
  .playlists {
    &__descr {
      padding: 10px 0;
      font-size: 15px;
    }
    &__item {
      padding: 10px;
    }
  }
  .img {
    width: 100px;
    height: 100px;
  }
}

@include mq(Sphone) {
  .wrapper {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
      background: var(--black-10);
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--white-30);
      border-radius: 20px;
    }
  }
}
