.nav {
  &__btn {
    width: 22px;
    height: 22px;
    background: var(--gray);
    cursor: pointer;
  }

  &__box {
    background: var(--gray-90);
    margin:auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px var(--black-10);
    box-sizing: border-box;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .1s, transform .1s;
    pointer-events: none;
    &_active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &__link {
    display: block;
    width: 25%;
    padding: 10px 20px;
    transition: background .1s;
    border-radius: 10px;
    &:hover {
      background: var(--white-10);
    }
  }
}