.title {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;

  span {
    color: var(--player-color-one);
  }
}
.container_wrapper {
  .container_playlist {
    display: flex;
  }
}
