.profile {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  &__menu {
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: var(--black-30);
    border-radius: 5px;
    button {
      width: 30px;
      cursor: pointer;
      background: var(--black-30);
      border-radius: 5px;
    }
  }

  &__content {
    width: calc(100% - 240px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background: var(--black-30);
    border-radius: 5px;
  }

  &__button {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
