.logo {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: opacity 0.2s;
  font-weight: bold;
  color: var(--text-color-white);
  span {
    color: var(--player-color-one);
  }
  &:hover {
    opacity: 0.7;
  }
}
