.authBadge {
  display: inline-flex;
  align-items: center;
  transition: opacity .1s;
  float: right;
  &__name {
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;
    width: calc(100% - 46px)
  }
  &__ava {
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    margin-left: 12px;
    background: var(--gray);
    border-radius: 100%;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 100%;
    }
  }
  &:hover {
    opacity: .7;
  }
}