@import "@/styles/sass/grid.scss";

.wrapper {
  margin-top: 20px;
}

.title {
  font-size: 30px;
  text-align: center;
  span {
    color: var(--ui-color-one);
  }
}
.account {
  &__item {
    margin: 10px 10px 0;
    border-bottom: 1px solid var(--gray-50);
  }
  &__subTitle {
    color: var(--ui-color-two);
    font-size: 15px;
    margin: 10px 10px 0;
  }
  &__descr {
    padding: 5px 20px;
    font-size: 25px;
  }
  &__links {
    img {
      margin: 5px 0 0 20px;
    }
  }
}
@include mq(Sphone) {
  .title {
    font-size: 20px;
  }
  .account {
    &__descr {
      font-size: 20px;
    }
    &__subTitle {
      color: var(--ui-color-two);
      font-size: 10px;
      margin: 10px 10px 0;
    }
  }
}
