@import '@/styles/sass/grid.scss';

.title {
  font-size: 25px;
  text-align: center;
  span {
    color: var(--ui-color-one);
  }
}

.wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 5px;
  padding: 15px;
  font-size: 10px;
  border: 2px dashed var(--ui-color-two);
  opacity: 0.8;
  &:hover {
    border: 2px dashed var(--ui-color-one);
    opacity: 1;
    transition: all 0.5s;
  }
}

.file {
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__item {
    margin: 10px 10px 0;
    padding: 10px;
    background: var(--gray-50);
    border-radius: 5px;
    &:hover {
      background: var(--ui-color-one);
      transition: all 0.8s;
      opacity: 1;
    }
  }
}
@include mq(Sphone) {
  .wrapper {
    margin-top: 10px;
  }
  .title {
    font-size: 20px;
    text-align: center;
  }
}
