@import '@/styles/sass/grid.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 450px;
  font-size: 20px;
  margin-top: 5px;
  padding: 50px;
  border: 2px dashed var(--ui-color-two);
  border-radius: 5px;

  &__zone {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--ui-color-two);
    &:hover,
    &:active {
      transition: all 0.5s;
      border: 2px dashed var(--ui-color-one);
    }
    &:last-child {
      cursor: pointer;
    }
  }
}

.file {
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__item {
    background: var(--gray-50);
    border-radius: 5px;
  }
}

.input {
  max-width: 280px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  color: var(--white-50);
  transition: background 0.15s, box-shadow 0.15s;
  outline: none;
  &:valid {
    border: 2px solid var(--success);
  }
}

.button {
  margin: 10px auto 0;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--ui-color-one);
  background: var(--gray-10);
  color: var(--white);
  transition: background 0.5s;
  &:hover,
  &:active {
    background-color: var(--ui-color-one);
  }
}

@include mq(Sphone) {
  .wrapper {
    margin-top: 10px;
  }
  .title {
    font-size: 20px;
    text-align: center;
  }
}
