@import '@/styles/sass/grid.scss';

.title {
  font-size: 25px;
  color: var(--ui-color-two);
}

.subTitle {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  /*   &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 420px);
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 300px;
    font-size: 15px;
    border-radius: 5px;
  } */
  &__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    min-height: 157px;
    border: 2px dashed var(--ui-color-three);
    border-radius: 5px;
    &:hover,
    &:active {
      transition: all 0.5s;
      border: 2px dashed var(--ui-color-one);
    }
  }
}

.input {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--gray-50);
  color: var(--white-50);
  transition: background 0.15s, box-shadow 0.15s;
  outline: none;
  border: none;
  &:valid {
    border: 2px solid var(--success);
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
  min-height: 120px;
  padding: 0 10px;
  border-radius: 5px;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid var(--gray-80);
    border-radius: 5px;
    &:hover {
      transition: 0.5s;
      background-color: var(--gray-20);
      border: 2px solid var(--white-50);
      cursor: pointer;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  &__add {
    margin: 0 4px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--ui-color-one);
    background: var(--gray-10);
    color: var(--white);
    transition: background 0.5s;
    &:hover,
    &:active {
      background-color: var(--ui-color-one);
    }
  }
  &__upload {
    width: 100px;
    margin: 0 4px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--ui-color-two);
    background: var(--gray-10);
    color: var(--white);
    transition: background 0.5s;
    &:hover,
    &:active {
      background-color: var(--ui-color-two);
    }
  }
}

@include mq(Sphone) {
  .wrapper {
    margin-top: 10px;
  }
  .title {
    font-size: 20px;
    text-align: center;
  }
}
