.wrapper {
  display: flex;
  flex-direction: column;
}

.showMoreTrack {
  width: 100%;
  background: var(--gradient);
  border: none;
  outline: none;
  height: 40px;
  cursor: pointer;
  color: var(--white);
  font-size: 20px;

  &:hover {
    border: 2px solid var(--white);
  }
  transition: all 2s ease;
}
