.wrapper {
  display: flex;
  padding-top: 20px;
}
.side__bar {
  display: flex;
  flex-direction: column;

  .release {
    margin-bottom: 10px;
    &__dates {
      font-weight: bold;
      font-size: 20px;
      color: var(--ui-color-one);
    }
  }

  .rate {
    margin-bottom: 10px;
    &__star {
      color: var(--ui-color-one);
      font-size: 20px;
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  .title {
    &__release {
      color: var(--white-50);
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__name {
      color: var(--white-90);
      font-size: 20px;
      margin-bottom: 5px;
    }
    &__author {
      color: var(--white-90);
      font-size: 18px;
      font-weight: bold;
    }
  }

  .hr {
    margin: 20px 0;

    border: 1px solid var(--ui-color-one);
  }
}
