// Light theme
:root {
  // Default
  --background: #262424;

  // Black
  --black-10: rgba(0,0,0, .1);
  --black-20: rgba(0,0,0, .2);
  --black-30: rgba(0,0,0, .3);
  --black-40: rgba(0,0,0, .4);
  --black-50: rgba(0,0,0, .5);
  --black-60: rgba(0,0,0, .6);
  --black-70: rgba(0,0,0, .7);
  --black-80: rgba(0,0,0, .8);
  --black-90: rgba(0,0,0, .9);
  --black: #000;

  // White
  --white-10: rgba(255,255,255, .1);
  --white-20: rgba(255,255,255, .2);
  --white-30: rgba(255,255,255, .3);
  --white-40: rgba(255,255,255, .4);
  --white-50: rgba(255,255,255, .5);
  --white-60: rgba(255,255,255, .6);
  --white-70: rgba(255,255,255, .7);
  --white-80: rgba(255,255,255, .8);
  --white-90: rgba(255,255,255, .9);
  --white: #fff;

  // Gray
  --gray-10: #282626;
  --gray-20: #2A2929;
  --gray-30: #2D2B2B;
  --gray-40: #2F2D2D;
  --gray-50: #312F2F;
  --gray-60: #333131;
  --gray-70: #353434;
  --gray-80: #383535;
  --gray-90: #3C3A3A;
  --gray: #434141;

  // UI
  --ui-color-one: #FC581F;
  --ui-color-two: #ff8962;

  // Gradient
  --gradient: linear-gradient(-90deg, var(--ui-color-one), var(--ui-color-two));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  padding-bottom: 100px;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__left {
    width: calc(70% - 20px)
  }

  &__right {
    width: 30%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.profile {
  display: flex;
  justify-content: space-between;

  &__menu {
    width: 220px;
  }

  &__content {
    width: calc(100% - 240px)
  }
}