// Light theme
:root {
  --foreground-rgb: 0, 0, 0;
  --player-color-one: #ff5d0f;
  --player-color-one-light: #fff4ee;
  --player-color-two: #ff9c0f;

  --preloader: #000;
  // --slider-background: #171717;
  // --slider-border: 1px solid black;
  // --slider-link: #fff;
  // --slider-button-color: #fff;
  // --slider-lists-color: #fff;

  --text-color-white: #fff;
  // --search-default: rgba(0, 0, 0, 0.8);

  // --gradient: linear-gradient(89.96deg, #ff5d0f 0.03%, #ff9c0f 99.96%);
  --foreground-rgb: 255, 255, 255;
  --button-color-default: #171717;
  --preloader: #fff;
  --slider-background: #171717;
  --slider-border: none;
  --slider-link: #fff;
  --slider-button-color: #fff;
  --slider-lists-color: #fff;
  --search-default: rgba(255, 255, 255, 0.1);
  --gradient: linear-gradient(89.96deg, #ff5d0f 0.03%, #ff9c0f 99.96%);
}

// Dark theme
// @media (prefers-color-scheme: dark) {
//   :root {
//   }
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  // color: #121212;
  background-color: #121212;
  padding-bottom: 100px;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
    transition: background .1s;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
