.wrapper {
  margin-top: 20px;
}

.title {
  font-size: 30px;
  text-align: center;
  span {
    color: var(--ui-color-one);
  }
}

.settings {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
  }
  &__button {
    margin: 20px 10px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
  }
  &__input {
    font-size: 15px;
    padding: 5px;
    width: 250px;
    height: 30px;
  }
}
