.headerInfo {
  background: var(--ui-color-one);
  padding: 7px 0;
  font-size: 14px;
}

.header {
  padding: 14px 0;
  border-bottom: 1px solid var(--gray-60);
  position: relative;
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    width: 85px;
  }
  &__right {
    width: 170px;
  }
  &__center {
    width: calc(100% - 255px);
    display: flex;
    align-items: center;
  }
}
