@import '@/styles/sass/grid.scss';

.events {
  margin-top: 10px;
  position: relative;
  width: 100%;
  max-height: 500px;
  border-radius: 5px;
  h2 {
    font-size: 25px;
  }
  &__slides {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    display: flex;
    bottom: 7px;
    left: 7px;
    right: 7px;
    padding: 15px 20px;
    border-radius: 5px;
    background: var(--black-80);
  }
  &__blur {
    position: absolute;
    bottom: 7px;
    left: 7px;
    right: 7px;
    padding: 15px 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
  }
  &__gradient {
    position: absolute;
    bottom: 7px;
    left: 7px;
    right: 7px;
    padding: 15px 20px;
    border-radius: 5px;
    background: var(--gradient);
    backdrop-filter: blur(50px);
  }
  &__none {
    position: absolute;
    bottom: 7px;
    left: 7px;
    right: 7px;
    padding: 15px 20px;
    border-radius: 5px;
  }
  &__item {
    font-size: 20px;
    list-style-type: none;
    &:last-child {
      font-size: 15px;
      opacity: 0.6;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px 10px;
  &__date {
    font-size: 20px;
  }
  &__time {
    font-size: 15px;
    opacity: 0.6;
  }
}

@include mq(phone) {
  .header {
    &__img {
      height: 300px;
    }
  }
}

//playlists
.wrapper {
  display: flex;
  justify-content: center;
}

.playlists {
  margin-top: 50px;
  width: 100%;
  h2 {
    font-size: 25px;
  }
  &__wrapper {
    display: flex;
    margin: 20px 10px 0;
    position: relative;
    max-width: 250px;
    min-height: 250px;
    border-radius: 5px;
  }
  &__slides {
    max-width: 250px;
    min-height: 250px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }
  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 40px;
    left: 7px;
    right: 7px;
    padding: 5px 5px;
    border-radius: 5px;
    background: var(--black-80);
  }
  &__item {
    min-height: 15px;
    font-size: 12px;
    list-style-type: none;
    /* &:last-child {
      font-size: 12px;
      opacity: 0.6;
    } */
  }
  &__descr {
    margin-top: 5px;
  }
}
