.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  width: 600px;
  height: 400px;
  background: rgb(50, 50, 75);
  border-radius: 5px;
  &_list {
    background: rgb(27, 27, 41);
  }
  &_item {
    padding: 5px 10px;
    list-style-type: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  display: flex;
  justify-content: space-between;
  &_left {
    position: absolute;
    left: 0px;
    top: 160px;
  }
  &_right {
    position: absolute;
    right: 0px;
    top: 160px;
  }
}
