.title {
  margin-bottom: 10px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--black-10);
  margin-bottom: 60px;
  &_list {
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(50px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
  }
  &_item {
    list-style-type: none;
    padding: 2px 0;
    &:last-child {
      opacity: 0.6;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  h3 {
    position: absolute;
    color: var(--slider-button-color);
  }
  &_img {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
  }
}

.button {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  user-select: none;
  &_left,
  &_right {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 76px;
    cursor: pointer;
    color: var(--slider-button-color);
    height: 44px;
    line-height: 1;
    display: flex;
    align-items: center;
  }
  &_left {
    left: 10px;
  }
  &_right {
    right: 10px;
  }
}

.links {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  &__points {
    flex: 1;
    height: 4px;
    background: var(--white-20);
    margin: 0 5px;
    border-radius: 2px;
    transition: background .1s;
  }

  &__active {
    background: var(--ui-color-one);
  }
}
