.title {
  text-align: center;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--text-color-white);
  span {
    color: var(--player-color-one);
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  list-style: none;
  border-radius: 5px;
}
