.search {
  width: 100%;
  max-width: 300px;
  margin-left: 15px;
  &__fields {
    appearance: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px 10px;
    outline: none;
    background: var(--gray-60);
    color: var(--white-50);
    width: 100%;
    display: block;
    font-size: 12px;
    transition: background .15s;
    &:hover {
      background: var(--gray-80);
    }
    &:focus {
      background: var(--gray);
    }
  }

  &__overflow{
    transform: translateY(20px);
    transition: opacity 0.5s;
    opacity: 0;
    &__active{
      opacity: 1;
      z-index: 999;
      top: 50px;
      margin-bottom: 37px;
      position: absolute;
      background: var(--gray-90);
      width: 600px;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0 10px 10px var(--black-10);
      padding: 10px;
      pointer-events: none;
    }
  }
}