@import "@/styles/sass/grid.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  height: 100vh;
  border-radius: 5px;
  padding: 10px 10px;

  li {
    display: flex;
    a {
      width: calc(100% - 5px);
      padding: 10px 10px;
      font-size: 18px;
      border-radius: 5px;
      opacity: 0.5;
      &:hover {
        background: var(--ui-color-one);
        transition: all 0.8s;
        opacity: 1;
      }
    }
  }
}
@include mq(Lphone) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px;
    width: 100%;
    align-items: center;
    li {
      a {
        padding: 0 5px;
        font-size: 15px;
      }
    }
  }
}
@include mq(Sphone) {
  .wrapper {
    li {
      a {
        font-size: 12px;
      }
    }
  }
}
