.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 220px;
  a {
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
    &:hover {
      background: var(--gradient);
    }
  }
}
